<div class="container">
  <p-treeTable [value]="files" #table>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <!--<button (click)="toggle(rowNode.node)">toogle</button>-->
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.name}}
          <button (click)="toggle(rowNode); expandChildren(rowNode.node, true)" *ngIf="!rowNode.node.expanded && rowNode.node.children">true</button>
          <button (click)="toggle(rowNode); expandChildren(rowNode.node, false)" *ngIf="rowNode.node.expanded && rowNode.node.children">false</button>
          <button (click)="add(rowNode.node)">add</button>
          <button (click)="deleteNode(rowNode.node)">remove</button>
        </td>
        <td>{{rowData.size}}</td>
        <td>{{rowData.type}}</td>
      </tr>
    </ng-template>
  </p-treeTable>




  <div class="filter">
    <mat-form-field>
      <mat-select placeholder="Categories" (selectionChange)="changeCategoy($event.value)">
        <mat-option [value]="''">All</mat-option>
        <mat-option *ngFor="let item of categories" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table">
    <table mat-table [dataSource]="stock">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!--Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="element.quantety">
          </mat-form-field>
        </td>
      </ng-container>
      <!-- buy Column -->
      <ng-container matColumnDef="buy">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="buy(element)" ><i class="material-icons">add_shopping_cart</i></button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [length]="stock.data.length" [pageSize]="25" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>




